[defaults]
inventory = ./site-config.yml
roles_path = ./roles:./.ansible/roles
collections_path = ./.ansible/collections:~/.ansible/collections:/usr/share/ansible/collections
interpreter_python = auto_silent
